.animation-screen {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url("../img/scene.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;

  @include retina {
    background-image: url("../img/scene@2x.png");
  }

  @media (orientation: portrait) {
    background-image: url("../img/scene-mob.png");

    @include retina {
      background-image: url("../img/scene-mob@2x.png");
    }
  }
}

.prizes-transition-bg {
  width: 100%;
  height: 0;
  background-color: $c-dark;
  position: fixed;
  bottom: 0;
  transition: height 0.3s ease;
  z-index: 2;
  opacity: 0;

  .screen--story.has-transition~& {
    height: 100%;
    z-index: 1;
    opacity: 1;
  }
}
