.per-letter-anim__word {
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;

  & > span {
    padding-top: 2rem;
    transform: translate3d(0, 100%, 0);
    display: inline-block;
  }
}

.screen.active,
.screen.active,{
  & .per-letter-anim__word > span {
    transform: translate3d(0, 0, 0);
  }
}
